body {
  margin:0px;
  background-color:rgba(27, 40, 56, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u48_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 40, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 40, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 40, 0.349019607843137);
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#333333;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:288px;
  width:167px;
  height:25px;
  display:flex;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#333333;
}
#u48 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 40, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 40, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 40, 0.349019607843137);
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#333333;
}
#u48.disabled {
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#AAAAAA;
  text-align:center;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:288px;
  width:36px;
  height:25px;
  display:flex;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#AAAAAA;
  text-align:center;
}
#u49 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#AAAAAA;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:288px;
  width:72px;
  height:25px;
  display:flex;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#AAAAAA;
}
#u50 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u50_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:845px;
  height:7px;
  background:inherit;
  background-color:rgba(65, 123, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:264px;
  width:845px;
  height:7px;
  display:flex;
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 40, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 40, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 40, 0.349019607843137);
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#333333;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:288px;
  width:123px;
  height:25px;
  display:flex;
  opacity:0.99;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#333333;
}
#u52 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 40, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 40, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 40, 0.349019607843137);
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#333333;
}
#u52.disabled {
}
.u52_input_option {
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:328px;
  width:845px;
  height:99px;
}
#u53_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:845px;
  height:99px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:845px;
  height:99px;
  background:inherit;
  background-color:rgba(22, 32, 45, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:845px;
  height:99px;
  display:flex;
  color:#000000;
}
#u54 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u54_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:15px;
  width:125px;
  height:25px;
  display:flex;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u55 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:31px;
  width:131px;
  height:37px;
}
#u56_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u56_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:37px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:37px;
  display:flex;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u57 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:9px;
  width:20px;
  height:20px;
  display:flex;
  color:#F2F2F2;
}
#u58 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:69px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:148px;
  height:69px;
  display:flex;
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u60 {
  position:absolute;
  left:599px;
  top:29px;
}
#u60_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:219px;
  height:41px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:41px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:41px;
  display:flex;
}
#u61 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
  background:inherit;
  background-color:rgba(33, 33, 33, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:94px;
  height:29px;
  display:flex;
}
#u62 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:2px;
  width:131px;
  height:37px;
}
#u63_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:37px;
  background:inherit;
  background-color:rgba(130, 203, 10, 0.996078431372549);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:37px;
  display:flex;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:9px;
  width:22px;
  height:19px;
  display:flex;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#80FFFF;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:11px;
  width:28px;
  height:20px;
  display:flex;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#80FFFF;
}
#u66 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:200px;
  width:72px;
  height:49px;
  display:flex;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u67 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:31px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:39px;
  width:35px;
  height:31px;
  display:flex;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:41px;
  width:20px;
  height:27px;
  display:flex;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u69 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:57px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:26px;
  width:224px;
  height:57px;
  display:flex;
}
#u70 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u70_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:41px;
  width:40px;
  height:27px;
  display:flex;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u71 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:40px;
  width:35px;
  height:29px;
  display:flex;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.gamePanel {
  border-width:0px;
  position:absolute;
  left:118px;
  top:328px;
  width:845px;
  height:99px;
}
.background {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:845px;
  height:99px;
  background:inherit;
  background-color:rgba(22, 32, 45, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
.name_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
.name {
  border-width:0px;
  position:absolute;
  left:178px;
  top:15px;
  width:125px;
  height:25px;
  display:flex;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
.name .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.name_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.detail {
  border-width: 0px;
  position: absolute;
  left: 443px;
  top: 31px;
  width: 131px;
  height: 37px;
}
.detButton_img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 131px;
  height: 37px;
}
.detButton {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 131px;
  height: 37px;
  display: flex;
  font-family: '华文细黑', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
.detButton .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
.detButton_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
}
.detIcon_img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
}
.detIcon {
  border-width: 0px;
  position: absolute;
  left: 17px;
  top: 9px;
  width: 20px;
  height: 20px;
  display: flex;
  color: #F2F2F2;
}
.header {
  border-width: 0px;
  position: absolute;
  left: 15px;
  top: 15px;
  width: 148px;
  height: 69px;
  display: flex;
}
.header_img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 148px;
  height: 69px;
}
.purchase {
  position:absolute;
  left:599px;
  top:29px;
}
.purBackground_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:41px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.purBackground {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:41px;
  display:flex;
}
.purBackground_2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
  background:inherit;
  background-color:rgba(33, 33, 33, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.purBackground2 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:94px;
  height:29px;
  display:flex;
}
.purButton {
  border-width:0px;
  position:absolute;
  left:86px;
  top:2px;
  width:131px;
  height:37px;
}
.purButtonState {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.purButtonContent {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.purBT_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:37px;
  background:inherit;
  background-color:rgba(130, 203, 10, 0.996078431372549);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
.purBT {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:37px;
  display:flex;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
.purBT .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.purBT_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.purBTIcon_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
.purBTIcon {
  border-width:0px;
  position:absolute;
  left:34px;
  top:9px;
  width:22px;
  height:19px;
  display:flex;
}
.prize_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#80FFFF;
}
.prize {
  border-width:0px;
  position:absolute;
  left:27px;
  top:11px;
  width:28px;
  height:20px;
  display:flex;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#80FFFF;
}
.prize .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.prize_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}