body {
  margin:0px;
  background-image:url('../../images/login/bg.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-origin:border-box;
  position:relative;
  left:0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:auto;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:auto;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:331px;
  width:300px;
  height:38px;
  display:flex;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9.disabled {
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:auto;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:auto;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:445px;
  width:300px;
  height:38px;
  display:flex;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10.disabled {
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:298px;
  width:64px;
  height:22px;
  display:flex;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u11 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:412px;
  width:32px;
  height:22px;
  display:flex;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u12 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13 label {
  left:0px;
  width:100%;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  height:15px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:614px;
  width:177px;
  height:22px;
  display:flex;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u13_img.selected {
}
#u13.selected {
}
#u13_img.disabled {
}
#u13.disabled {
}
#u13_img.selectedDisabled {
}
#u13.selectedDisabled {
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:17px;
  top:0px;
  width:158px;
  word-wrap:break-word;
  text-transform:none;
}
#u13_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:57px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:45px;
  width:224px;
  height:57px;
  display:flex;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:224px;
  width:80px;
  height:55px;
  display:flex;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u15 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:auto;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:auto;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:559px;
  width:300px;
  height:38px;
  display:flex;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16.disabled {
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:526px;
  width:64px;
  height:22px;
  display:flex;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u17 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
}
#u18 {

  position:absolute;
  left:390px;
  top:690px;
  width:134px;
  height:40px;
  display:flex;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {

  word-wrap:break-word;
  text-transform:none;
}
#u19_div {

  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
  background:inherit;
  background-color:rgba(31, 36, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u19 {

  position:absolute;
  left:556px;
  top:690px;
  width:134px;
  height:40px;
  display:flex;
  font-family:'华文细黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  word-wrap:break-word;
  text-transform:none;
}
